
.sigin{
    
    height: 35px;
    margin-left: 20%;
    margin-right: 20%;
}
.Google{
    background-color: rgb(35, 102, 228);
}
.Facebook{
    background-color: rgb(43, 15, 165);
}
.Apple{
    background-color: black;
}